@model List<String>

<!DOCTYPE html>
<html lang="tr">

<style>
    #container{
        background: #44A6C8;

    }
    #midDiv{
        position: relative;
        top: 72px;
        height: 760px;
        background: #cce1ff;
        padding: 100px;
    }
    }


</style>
<html>




    <body >
        


    @foreach (var Participant in Model)
    {<p>@Participant</p><hr />
        
    }



    </body>
</html>